<!DOCTYPE html>
<html lang="en" data-theme="dark">
<%- include("partials/header.ejs"); %>

<body>
<%- include("partials/nav.ejs"); %>
<div class="container-fluid" style="margin-top:1em;">
    <h5 class="d-flex align-items-center"><i class="fas fa-circle fa-xs center-block"
                                             style="color: red; line-height: inherit"></i>&nbsp;Live now</h5>
    <div class="d-flex flex-wrap">
        <% streams.forEach((stream) => { %>
            <div class="p-1 stream-preview">
                <a href="/u/<%= stream.owner.username %>/<%= stream._id %>" class="no-bs">
                    <div class="stream-thumbnail"
                         style="background-image: url(https://placehold.it/1920x1080); background-size: contain; background-position: center">
                        <span class="badge badge-danger ml-2 mt-2">Live</span>
                        <span class="badge badge-light mr-1 mt-2">11k Viewers</span>
                    </div>
                    <div class="d-flex justify-content-after">
                        <div class="pt-2 ml-0 pl-0">
                            <div class="img-md" style="background-image: url(https://placehold.it/256)"></div>
                        </div>
                        <div class="pl-2 pt-2">
                            <h5 class="m-0" style=""><%= stream.name %></h5>
                            <span class="text-muted"><%= stream.owner.username %></span>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>

    </div>
</div>
</body>
<%- include("partials/footer.ejs"); %>

<script>
    function toggleView() {
        $(".fol").toggleClass("badge-magic-secondary");
        $(".rec").toggleClass("badge-magic");
    }
</script>

<script>
    function redirectToCreate() {
        window.location.href = "/create";
    }
</script>

</html>
